lst/
obj/
bin/
build/
tmp/
*.bin
.kdev4
*.log
*.dep
*.uvgui.*
*.uvgui_*.bak
*.uvguix.*
*.uvguix_*.bak
*_uvopt.bak
*_uvoptx.bak
*_uvproj.bak
*_uvprojx.bak
*.ctx
*.dbi
*.xdb
*.svn
*.pbxproj
*.cogui
*.comarker
.directory
.vscode/launch.json
.cmaketools.json
ipch/
src/apps/LoRaMac/classA/.metadata/.plugins/org.eclipse.core.resources/.history/
src/apps/LoRaMac/classA/.metadata/.plugins/org.eclipse.core.resources/.projects/m2m-76-gps/.indexes/
*.pdom
*.snap
*.tree
*.prefs
*.markers
*.index